.feature-item {
  position: relative;
  padding-left: 94px;
<<<<<<< HEAD
  padding-bottom: 2rem;
=======
  padding-bottom: 2.5rem;
>>>>>>> our-features

  &__icon {
    position: absolute;
    left: 0;
  }

  &__title {
    font-size: 1.875rem;
    font-weight: 200;
    margin-bottom: .8rem;
  }
}